html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    background: @primaryBackground;
}

section {
    margin: 0;
    padding: 0;
}

.social {
    float: left;
    min-height: 100%;
    background: @sidebarBackground;
    //-- needed for full sidebar height
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    //-- end sidebar sizing
    ul {
        position: fixed;
        bottom: 0;
        display: table;
        li {
            display: table-cell;
            text-align: center;
            [class^="icon-"] {
                color: @white;
                .transition(opacity 0.5s);
                .opacity(60);
                .icon-3x;
                &:hover {
                    .opacity(90);
                    text-shadow: 0 0 10px rgba(255,255,255,0.8);
                }
            }
        }
    }
}

.page-content {
    min-height: 100%;
    padding: @baseLineHeight * 2 0 @baseLineHeight * 2.5 @contentPadding;
    &>.content {
        width: @contentWidth;
    }
}

@media (min-width: 940px) {
    .social {
        width: @sidebarWidth;
        ul {
             width: @sidebarWidth;
        }
    }
    .page-content {
        margin-left: @sidebarWidth + @sidebarPadding;
    }
}

@media (min-width: 768px) and (max-width: 939px) {
    .social {
        width: @sidebarNarrowWidth;
        ul {
            width: @sidebarNarrowWidth;
        }
    }

    .page-content {
        margin-left: @sidebarNarrowWidth + @sidebarNarrowPadding;
        padding-left: @contentNarrowPadding;
    }
}

@media (max-width: 767px) {
    .social {
        position: relative;
        width: 100%;
        ul {
            position: relative;
            width: inherit;
        }
    }
}